.rating-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.rating-container .star {
  width: 31px;
  height: 31px;
  display: inline-block;
}

@media only screen and (min-width: 744px) {
  .rating-container {
    justify-content: start;
  }
}
