.logo .img {
  height: 133px;
}

@media only screen and (min-width: 744px) {
  .logo {
    width: calc(100% - 368px);
    height: 162px;
  }
  .logo > img {
    height: 162px;
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    width: 225px;
    height: 103px;
  }
  .logo > img {
    height: 103px;
  }
}

@media only screen and (min-width: 1440px) {
  .logo {
    width: 289px;
    height: 133px;
  }
  .logo > img {
    height: 133px;
  }
}
