.storybook-heading {
  font-family: Montserrat;
  /* text-align: center; */
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
}

@media only screen and (min-width: 744px) {
  .storybook-heading {
    text-align: left;
  }
}

.storybook-heading--small {
  font-size: 16px;
  line-height: 20px;
}

.storybook-heading--medium {
  font-size: 20px;
  line-height: 24.38px;
}
.storybook-heading--large {
  font-size: 24px;
  line-height: 28px;
}

.storybook-heading--light {
  font-weight: 400;
}

.storybook-heading--heavy {
  font-weight: 600;
}

.storybook-heading--underlined {
  text-decoration-line: underline;
}
